body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #1f2e35;
    background: #e6e4e3;
}

::-moz-selection {
    background: #395561;
    color: #cea69d;
}
::selection {
    background: #395561;
    color: #cea69d;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    color: rgba(57, 43, 65, 0.8);
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    text-transform: uppercase;
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading, .subheading2, .subheading3 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.subheading {
    color: #8b3d2b;
    font-weight: 500;
    font-size: 1.5rem;
}

.subheading2 {
    font-weight: 300;
    font-size: 1.3rem;
}

.subheading3 {
    color: #772a18;
    font-size: 1.2rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #2f4650;
    color: #ca978c !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: #f88166 !important;
    background-color: #131a22;
    transition: .5s;
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
    opacity: .9;
    transition: .5s;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-nav .nav-item .nav-link:hover {
    color: #d8afa6;
}

#sideNav .navbar-toggler:focus {
    outline-color: #2f4650;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(157, 121, 172, 0.4);
    }
    .container-img-profile {
        position: relative;
        width: 100%;
    }
    .main-img-profile {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
    }
    .overlay-img-profile {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .main-img-profile:hover {
        opacity: 0;
    }
    .overlay-img-profile:hover {
        opacity: 1;
        transition: .5s ease;
    }
    .container-flags {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3px;
    }
    .flag {
        margin: 5px;
        margin-bottom: -50px;
    }
    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
    #sideNav .navbar-collapse .container-flags .collapse{
        display: none;
    }
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

@media (max-width: 392px) {
    .social-icons a {
        margin-right: 0.5rem;
    }
}

.bg-primary {
    background-color: #2f4650 !important;
    border-top-width: 5px;
    border-style: none solid none none;
    border-image-source: linear-gradient( 180deg, #9d79ac, #f88166 );
    border-image-slice: 1;
}

@media (max-width: 991px) {
    .bg-primary {
        background-color: #2f4650 !important;
        border-top-width: 5px;
        border-style: none none solid none;
        border-image-source: linear-gradient( 180deg, #e6e4e3, #e6e4e3 ) !important;
        border-image-slice: 1;
    }

    .container-flags {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 3px;
        order: 1;
    }
    .flag {
        margin: 5px;
    }
}

.text-primary {
    color: #2f4650 !important;
}

a {
    color: #212529;
}

a:hover, a:focus, a:active {
    color: #162125;
}

.skill-badge {
    margin: 0.5em;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1.15em;
}
.badge1 {
    background-color: #5b5a75;
    color: white; 
}
.badge2 {
    background-color: #c4614b;
    color: white; 
}
.badge3 {
    background-color: #3a4e57;
    color: white; 
}

.code-fragment {
    color: #3a4e57;
}

.projects-grid {
    display: grid;
    margin-left: -40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    list-style: none;
}

.projects-grid li {
    background: none;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(57, 43, 65, 0.8);
    border-radius: 16px;
    width: 350px;
    height: 400px;
    max-width: 350px;
    max-height: 400px;
    padding: 10px;
}

.projects-grid li h3, .projects-grid li .project-links, .projects-grid li .project-links > a, .projects-grid li .project-repo > a {
    color: #8b3d2b;
}

.projects-grid li .project-repo {
    text-align: center;
}

.projects-grid li .project-links {
    text-align: center;
    margin-right: 30px;
}

@media (max-width: 1859px) { .projects-grid { grid-template-columns: repeat(3, 1fr); }}
@media (max-width: 1450px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 64px;
    }
}
@media (max-width: 1100px) and (min-width: 992px) { 
    .projects-grid { 
        margin-left: -80px;
        gap: 16px 8px;
    }
    .projects-grid li {
        height: auto;
    }
}
@media (max-width: 991px) { .projects-grid { grid-template-columns: repeat(2, 1fr); }}
@media (max-width: 789px) {
    .projects-grid { 
        grid-template-columns: repeat(1, 1fr); 
    }
    .projects-grid li {
        height: auto;
    }
}
@media (max-width: 415px) { 
    .projects-grid li {
        width: 300px;
        max-width: 300px;
        max-height: 500px;
    }
}

.flag {
    width: 50px;
    height: 33px;
    overflow: hidden;
    border: 1px solid #426574;
    border-radius: 4px;
}
.brazil {
    background: 
        linear-gradient(149deg, #009B3A 30%, transparent 25%), 
        linear-gradient(-149deg, #009B3A 30%, transparent 25%), 
        linear-gradient(-30deg, #009B3A 30%, transparent 25%), 
        linear-gradient(30deg, #009B3A 30%, transparent 25%), 
        radial-gradient(25px at 50% 50%, transparent 0, transparent 35%, #FEDF00 35%, #FEDF00 100%), 
        radial-gradient(50px at 39% 99%, transparent 0, transparent 35%, white 35%, white 39%, transparent 39%, transparent 100%), 
        #002776;
    overflow: hidden; 
}
.the-united-kingdom {
    background: #00247D;
    background-size: 100px 100px;
    position: relative; 
}
.the-united-kingdom:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: 
        linear-gradient(to bottom, transparent 40%, #CC142B 40%, #CC142B 60%, transparent 60%), 
        linear-gradient(to right, transparent 45%, #CC142B 45%, #CC142B 55%, transparent 55%), 
        linear-gradient(to bottom, transparent 35%, white 35%, white 65%, transparent 65%), 
        linear-gradient(to right, transparent 40%, white 40%, white 60%, transparent 60%), 
        linear-gradient(146deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) -30px 20px, 
        linear-gradient(146deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) 25px -19px,
        linear-gradient(34deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) -31px -19px,
        linear-gradient(34deg, transparent 50%, #CC142B 50%, #CC142B 53%, transparent 53%) 30px 20px,
        linear-gradient(146deg, transparent 45%, white 45%, white 55%, transparent 55%), 
        linear-gradient(34deg, transparent 45%, white 45%, white 55%, transparent 55%);
    width: 50px;
    height: 33px;
    background-repeat: no-repeat; 
}
