html, body {
    height: 100%;
    font-family: 'Verdana', Geneva, sans-serif;
}

::-moz-selection {
    background: #2f4650;
    color: white;
}
::selection {
    background: #2f4650;
    color: white;
}

/* # # # # # --- navbar --- # # # # # */
.navbar {
    background-color:#2f4650;
    border-top-width: 5px;
    border-style: solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: rgb(230, 228, 227);
    border-image-slice: 1;
}

.nav-item div{
    padding: 3px;
}

.brand-profile-pic {
    padding-right: 16px;
    padding-left: 10px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.brand-circle {
    background-color: rgb(65, 84, 90);
    border-radius: 30%;
    width: 35px;
    height: 35px;
    overflow: hidden;
    position: relative;
}
  
.brand-circle img {
    width: 100%;
    width:"35";
    height:"35";
}

.brand-profile-pic > div > span{
    padding-left: 5px;
}

.nav-item > div > .btn:hover { /* botões da navbar */
    background: linear-gradient( 90deg, #c9bacd, #edb0a1 );
    color: #21253e;
    border-color: #9d79ac;
}
.show > .btn-outline-light.dropdown-toggle { /*  */
    /* porque '.btn-outline-light' deve ficar junto de '.dropdown-toggle', sem separar com espaço? */
    background: linear-gradient( 90deg, #c9bacd, #edb0a1 );
    color: #21253e;
    border-color: #9d79ac;
}
.nav-item > div > .dropdown-menu  { /* gavetinha */
    background: linear-gradient( 90deg, #c9bacd, #edb0a1 );
    color: #21253e;
}
.dropdown-divider {
    border-color: #bf9cc9;
}
.nav-item > div > .dropdown-menu > .dropdown-item:hover, .nav-item > div > .dropdown-menu > .dropdown-item:active { /* botoes dentro da gavetinha */
    background: #7c8186;
    color: white;
    border-radius: .25rem; 
}


/* # # # # # --- rodapé --- # # # # # */
main:after {
    content: "";
    display: block;
}

footer, main:after {
    height: 110px; 
}

footer {
    background-image: linear-gradient( 90deg, #9d79ac65, #f7654469 );
    border-top-width: 5px;
    border-style: solid;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-image-source: linear-gradient( 90deg, #9d79ac, #f76544 );
    border-image-slice: 1;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: middle;
}

.footer-content > a {
    margin: 20px;
}

.fab {
    color: #2f4650;
    font-size: 30px;
}

.fab:hover {
    text-decoration: none;
    opacity: .7;
    transition: .5s;
}

.fab:focus, .fab:active, .fab:visited, .fab:link{
    text-decoration: none;
}


/* # # # # # --- conteudo da página --- # # # # # */
main {
    min-height: 100%;
    margin-bottom:-110px;
    background-color:rgb(230, 228, 227);
}

.page-row {
    padding-top: 60px;
    background-color:rgb(230, 228, 227);
}

.page-content > p {
    text-align: justify;
}

h1, h2, h3 {
    color: #1f2e35;
}

.quote-signature{
    text-align: right; 
    font-style: italic;
}

.page-content > ul > li > a {
    color: #493452;
}
.page-content > ul > li > a:hover {
    color: #c94f33;
    text-decoration: none;
    transition: 0.5s;
}
